In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori, association_rules

print("Librerias cargadas correctamente")

Librerias cargadas correctamente

### Iniciamos la exploracion de los datos

In [ ]:
# Cargar los datos desde un archivo CSV
df = pd.read_csv('supermarket.csv')
print("Datos cargados correctamente")

# Mostrar las primeras filas del DataFrame
df.head()

Datos cargados correctamente

,ID Factura,Sucursal,Ciudad,Tipo Cliente,Género,Línea Producto,Precio Unitario,Cantidad,Impuesto 5%,Total,Fecha,Hora,Pago,Costo Venta,Ingreso Bruto,Calificación
0,750-67-8428,A,Yangon,Member,Femenino,Salud y belleza,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Femenino,Accesorios electrónicos,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Masculino,Hogar y estilo de vida,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Masculino,Salud y belleza,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Masculino,Deportes y viajes,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,30.2085,5.3

In [ ]:
# Revisamos el tipo de dato de cada columna. 
# Este paso es fundamental para asegurar que los datos se procesen correctamente.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID Factura       1000 non-null   object
 1   Sucursal         1000 non-null   object
 2   Ciudad           1000 non-null   object
 3   Tipo Cliente     1000 non-null   object
 4   Género           1000 non-null   object
 5   Línea Producto   1000 non-null   object
 6   Precio Unitario  1000 non-null   float64
 7   Cantidad         1000 non-null   int64
 8   Impuesto 5%      1000 non-null   float64
 9   Total            1000 non-null   float64
 10  Fecha            1000 non-null   object
 11  Hora             1000 non-null   object
 12  Pago             1000 non-null   object
 13  Costo Venta      1000 non-null   float64
 14  Ingreso Bruto    1000 non-null   float64
 15  Calificación     1000 non-null   float64
dtypes: float64(6), int64(1), object(9)
memory usage: 125.1+ KB